<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<div class="row">


			<div class="col-sm-12">
	        	<div id="logo">
					<img id="logoImg" src="img/logo.gif"/>
				</div>
				<div id="headerText" style="padding-bottom:15px;">
					<div id="title">
						CS106B: Programming Abstractions
					</div>
					<div>
						Winter 2016
					</div>
					<div>
						Monday, Wednesday, Friday 11:30am to 12:20pm in <a href="https://music.stanford.edu/venues/dinkelspiel">Dinklespiel Auditorium</a>
					</div>
				</div>
        	</div>
        </div>

        <div class="row">
        	<div class="col-sm-12">
	        	<hr/>

	        	<!--<div class="alert alert-success" role="alert">Right now in lecture we are using an onilne response tool. Follow <a href="https://b.socrative.com/login/student/">this link</a> and enter room number: <b>106BWIN16</b></div>-->
	        </div>
        </div>
        
        <div class="row">
			<div class="col-sm-3">
				<!-- Links -->
				<div>
					<p class="subtleHeading">RESOURCES</p>

					<!--<span class="sidebaricon glyphicon glyphicon-user" aria-hidden="true"></span>
					<a href="">Staff</a><br/>-->

					<span class="sidebaricon glyphicon glyphicon-apple" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/handouts/overview.html">Course Overview</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-send" aria-hidden="true"></span>
					<a href="http://paperless.stanford.edu">Submitter</a> <br/>

					<img src="img/icons/piazza-icon.png" class="sidebaricon" alt="icon">
					<a href="https://piazza.com/stanford/winter2016/cs106b/home">Piazza</a> <br/>

					

					

					<img src="img/icons/qt-icon.png" class="sidebaricon" alt="icon">
					<a href="{{pathToRoot}}/handouts/qt-creator.html">QT Creator</a><br/>

					
					<!--<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
					<a href="">Text Book</a> <br/>-->

					<img src="img/icons/stanford-favicon.png" class="sidebaricon" alt="icon">
					<a href="http://stanford.edu/~stepp/cppdoc/">Stanford C++ Lib</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-backward" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/handouts/past.html">Past Quarters</a> <br/>


<span class="sidebaricon glyphicon glyphicon-edit" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/assnFiles/Blank.zip">Blank Project</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
					<a href="{{pathToRoot}}/handouts/help.html">Help Hours</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-tasks" aria-hidden="true"></span>
					<a href="https://b.socrative.com/login/student/">Socrative</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-music" aria-hidden="true"></span>
					<a href="https://play.spotify.com/user/1251835474/playlist/3O343f5rIdxCMofp8rCzcs?play=true&utm_source=open.spotify.com&utm_medium=open">Spotify Playlist</a> <br/>
					
					

					

					<!--<span class="sidebaricon glyphicon glyphicon-film" aria-hidden="true"></span>
					<a href="">Videos</a> <br/>-->
				</div>

				<hr/>

				<div>
				<p class="subtleHeading">ASSIGNMENTS</p>
					<div class="well well-sm" style="margin-bottom:10px">
						<a href="{{pathToRoot}}/assn/boggle.html">Assn 4: Boggle</a>
					</div>
					<div class="well well-sm" style="margin-bottom:10px">
						<a href="{{pathToRoot}}/assn/metaAcademy.html">Assn 3: Meta Academy</a>
					</div>
					<div class="well well-sm" style="margin-bottom:10px">
						<a href="{{pathToRoot}}/assn/serafini.html">Assn 2: Serafini</a>
					</div>
					<div class="well well-sm" style="margin-bottom:10px">
						<a href="{{pathToRoot}}/assn/life.html">Assn 1: Life</a>
					</div>
					
				</div>
				<hr/>

				<div>
				<p class="subtleHeading">EXAMS</p>
					<p>
						Midterm<br/>
						<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span> Tuesday, Feb 9th<br/>
						<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 7-9pm
					</p>
					<p>
						Final<br/>
						<span class="sidebaricon glyphicon glyphicon-calendar" aria-hidden="true"></span>
						Monday, March 14th<br/>
						<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> 8:30-11:30am
					</p>
				</div>
				<hr/>
					

				<!-- Handouts 
				<div>
					<p class="subtleHeading">HANDOUTS</p>

					<a href="">1. Syllabus</a><br/>
					<a href="">2. Class Placement</a><br/>
					<a href="">3. Honor Code</a><br/>
				</div>-->



				<p class="subtleHeading">STAFF</p>
				<div class="staffBox">
					<img src="img/people/chris.bmp" class="staffImg"></img><br/>
					Lecturer: <a href="http://stanford.edu/~cpiech">Chris Piech</a> <br/>
					<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> piech@cs.stanford.edu<br/>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates 193<br/>
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Mon 1:30-2:30pm, Wed 2:30-4:00pm
				</div>
				<br/>

				<div class="staffBox">
					<img src="img/people/megan.jpeg" class="staffImg"></img><br/>
					Head TA: Megan Faulk<br/>
					<span class="sidebaricon glyphicon glyphicon-envelope" aria-hidden="true"></span> mfaulk@stanford.edu<br/>
					<span class="sidebaricon glyphicon glyphicon-home" aria-hidden="true"></span> Gates B02<br/>
					<span class="sidebaricon glyphicon glyphicon-time" aria-hidden="true"></span> Tue, Th 9:00-10:30am 
				</div>

				<div style="height:10px"></div>

				<hr/>
			</div>
			<div class="col-sm-9" >
				<!-- Newsfeed -->
				<div>

					<p class="subtleHeading">NEWSFEED</p>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Binky Pointer Fun</div>
							<div class="moment">2016021210</div>
						</div>
						<p>
							Here is a nice little video made by Stanford Lecturer Nick Parlante. It explains pointers on non objects. In class all of our pointers have been on classes or structs like LinkedList (not primatives like ints). To dereference a class or struct we use the -> operator. To dereference a primative use the * operator.
						</p>
						<p>
							<iframe width="100%" height="300" src="https://www.youtube.com/embed/i49_SNt4yfk" frameborder="0" allowfullscreen></iframe>
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Midterm Info</div>
							<div class="moment">2016020313</div>
						</div>
						<p>
							The midterm is coming up (it is next Tuesday). We put together a <a href="{{pathToRoot}}handouts/midterm.html">handout</a> on what to expect. It has midterm logistics, topics and review material. We will keep updating it. Most material will be posted by this Saturday and everything will be up by Sunday. 
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Boggle</div>
							<div class="moment">2016020313</div>
						</div>
						<p>
							Assignment 4, <a href="{{pathToRoot}}assn/boggle.html">Boggle</a> went out today. In this classic assigment you will use recursive backtracking to program the game of Boggle and an AI engine that can beat it.<br/>
							<div style="background-color:white;width:100%">
								<a href="{{pathToRoot}}assn/boggle.html">
									<center>
										<img src="{{pathToRoot}}img/assn/boggle/splash.jpg" style="width:100%; margin-top:10px"></img>
									</center>
								</a>
							</div>
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Alpha GO</div>
							<div class="moment">2016012915</div>
						</div>
						<p>
							Researchers at Deep Mind (part of Google) recently hit a big Computer Science milestone. They developed a program that can play the game of GO. It was claimed that GO was the last discrete "board game" that computers were unable to play. The fact that a computer can beat a profession is a huge milestone, and the way in which the solver works reinforces the idea that deep neural networks can be truly powerful at making complex decisions.
						</p>
						<p>
							<iframe width="100%" height="300" src="https://www.youtube.com/embed/SUbqykXVx0A" frameborder="0" allowfullscreen></iframe>
						</p>
						<p>
							We talked briefly about how it works on class Friday, Jan 29th. 
						</p>
					</div>


					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Meta Academy Assignment Out</div>
							<div class="moment">2016012613</div>
						</div>

						<p>
							Assignment 3, <a href="{{pathToRoot}}assn/metaAcademy.html">Meta Academy</a> went out yesterday. You will build a platform to help users learn recursion. In order to build the Meta Academy you will solve a series of recursion problems yourself.<br/>
							<div style="background-color:white;width:100%">
								<a href="{{pathToRoot}}assn/metaAcademy.html">
									<center>
										<img src="{{pathToRoot}}img/assn/meta/meta.png" style="width:50%; margin-top:10px"></img>
									</center>
								</a>
							</div>
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Introducing CLaIR (Conceptual LaIR) Hours</div>
							<div class="moment">2016012016</div>
						</div>
						<p>
							<b>What</b>: A place to get conceptual help, in contrast to debugging help that typically happens in the LaIR. Assignment code and debugging should stay in the LaIR, but CLaIR helpers can go over section and lecture code, offer high-level assignment help, and review class concepts.<br/>
							<b>When</b>: Sunday 8PM-10PM (except 2/15), Tuesday 8PM-10PM, Thursday 8PM-10PM.<br/>
							<b>Where</b>: Old Union 2nd Floor.<br/>
							<b>How</b>: Speak to the section leader by the LaIR signup computer, who will direct you to the appropriate help area (CLaIR or LaIR).
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Martin Luther King, Jr.</div>
							<div class="moment">2016011716</div>
						</div>
						<p>
							Reminder that tomorrow, Jan 18th, is <a href="https://en.wikipedia.org/wiki/Martin_Luther_King,_Jr._Day">MLK day</a> so there will be <b>no office hours or class</b>. Here is a video of the last public speech MLK gave. The date was April 3, 1968 and he was assasinated the day after. Civil rights for all people, regardless of their ethnicity, is a cause that is still being faught for around the world. 
						</p>
						<p>
							<iframe width="100%" height="300" src="https://www.youtube.com/embed/Oehry1JC9Rk" frameborder="0" allowfullscreen></iframe>
						</p>
						<p>
							Of course if you haven't seen the <a href="https://www.youtube.com/watch?v=3vDWWy4CMhE">I Have a Dream Speech</a>, that is worth watching.
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Using Socrative</div>
							<div class="moment">2016011620</div>
						</div>
						<p>
							Last class we used <a href="https://b.socrative.com/login/student/">socrative.com</a>. I thought it was a nice way to get everyone interacting. Our new room name is 106BWIN16. We will use it again next class.
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Serafini Assignment Out</div>
							<div class="moment">2016011503</div>
						</div>

						<p>
							Assignment 2, <a href="{{pathToRoot}}assn/serafini.html">Serafini</a> goes out today in class. You will implement both word ladders and random writters.<br/>
							<a href="{{pathToRoot}}assn/serafini.html"><img src="{{pathToRoot}}img/assn/serafini/splash.png" style="width:100%; margin-top:10px"></img></a> <br/>
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Contest Announced</div>
							<div class="moment">2016011503</div>
						</div>

						<p>
							This quarter we are going to hold an <b>optional</b> <a href="{{pathToRoot}}/assn/contest.html">contest</a>. Prizes will be awarded for problem solving and creativity.<br/>
							<a href="{{pathToRoot}}assn/contest.html"><img src="{{pathToRoot}}img/assn/contest/splash.jpg" style="width:100%; margin-top:10px"></img></a> <br/>
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Bananagrams Solution Posted</div>
							<div class="moment">2016011503</div>
						</div>

						<p>
							In class Wednesday I showed a program that I had written that autonomously played the first 21 tiles in a game called Bananagrams. I posted the code and a <i>brief</i> <a href="{{pathToRoot}}/handouts/bananagrams.html">writeup</a>. To the best of my knowledge this is the first Bananagrams AI to exist :). More importantly it is an example of a full length project (akin to your assignments) that I wrote and shows how I broke down the problem and my own style. 
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">CS + Social Good</div>
							<div class="moment">2016011115</div>
						</div>

						<p>
							Interested in how technology can make the world a better place? Take the new CS 106 CS+Social Good Section. Each week, we'll host fun workshops exploring social good applications of computer science. The workshops will be led by engineers from local tech companies and nonprofits. Sign up <a href="https://docs.google.com/forms/d/1f2BsnUEYmWkDgs1jO_o_1MNZUyVJWiVW0G-01gm6bmE/edit">here</a> by midnight tonight (Monday).
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Sign Up for Section</div>
							<div class="moment">2016010801</div>
						</div>

						<p>
							Section sign up are open! To sign up go to the <a href="https://cs198.stanford.edu/cs106/auth/section/SelectClass.aspx?from=%2fcs106%2fauth%2fsection%2fSectionSignup.aspx">section signup</a> website. Section sign up closes Sunday at 5pm. We are happy to announce that we have 51 section leaders who are leading CS106B sections!
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Life Assignment Out</div>
							<div class="moment">2016010611</div>
						</div>

						<p>
							Assignment 1, <a href="{{pathToRoot}}assn/life.html">Life</a> goes out today in class. In this program you will implement Conways Game of Life, an elegant cartoon model of cell life that has inspired an entire field of thinking on complex structures that can arise from simple rules.<br/>
							<a href="{{pathToRoot}}assn/life.html"><img src="{{pathToRoot}}img/assn/life/life.png" style="width:100%; margin-top:10px"></img></a> <br/>
							
						</p>
					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">First Class</div>
							<div class="moment">2016010411</div>
						</div>

						<p>
							Thanks for coming! That was exciting :). <a href="{{pathToRoot}}lectures/0-Welcome/0-Welcome.pptx">Here</a> are the slides that went with the lecture. Also take a look at the course <a href="{{pathToRoot}}handouts/overview.html">overview</a> page for general course logistics. Future slide decks and lecture code will be posted in the schedule. Looking forward to Wednesday. Here is a cartoon of the <a href="{{pathToRoot}}handouts/overview.html">syllabus</a>:<br/>
							<img src="{{pathToRoot}}img/overview/overview.png" style="width:100%"></img> <br/>
							
						</p>
					</div>



					<!--- The hidden part  -->
					<center>
					<button id="earlierButton" type="button" class="btn btn-primary " onclick='$("#earlier").show();$("#earlierButton").hide();'>Load Earlier Announcements</button>
				</center>
					<div id="earlier" style="display:none">


					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">One time office hour change.</div>
							<div class="moment">2016010509</div>
						</div>

						<p>
							Chris' Wednesday office hours for this week have been changed from Wednesday (5th of Jan) to Friday (7th of Jan) from 2:30pm to 3:30pm. This is a one time change. Things go back to normal next week. Come with early question on <a href="{{pathToRoot}}assn/life.html">Life</a> :).
							
						</p>
						
					</div>

					

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Sign Up for Piazza</div>
							<div class="moment">2016010400</div>
						</div>

						<p>
							This quarter CS106B is using Piazza to facilitate questions. Go to <a href="https://piazza.com/stanford/winter2016/cs106b/home">piazza.com/stanford/winter2016/cs106b/home</a> to sign up. You can ask course related questions and see answers to other student questions. For personal questions please feel free to email Megan or Chris.
						</p>
						

					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Class Location</div>
							<div class="moment">2016010100</div>
						</div>

						<p>
							Class starts Monday January 4th at 11:30am in Dinklespiel.
							<div class="google-maps">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.551949740855!2d-122.17207458509944!3d37.42406384003296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbad417d5a965%3A0xff6e238283d53800!2sDinkelspiel+Auditorium!5e0!3m2!1sen!2sus!4v1451848729217" width="567" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
							</div>
						</p>

					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Welcome!</div>
							<div class="moment">2016010100</div>
						</div>

						<p>
							Welcome to CS106B! We are looking forward to a fun quarter.
						</p>

					</div>


					<!--  End of hidden part  -->
					</div>
					

				</div>
			</div>
		</div>

		%include templates/parts/footer.html

	</div>

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDDHH").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

</body>
