<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<div class="row">


			<div class="col-md-12">
	        	<div id="logo">
					<img id="logoImg" src="img/logo.gif"/>
				</div>
				<div id="headerText" style="padding-bottom:15px;">
					<div id="title">
						CS106B: Programming Abstractions
					</div>
					<div>
						Winter 2016
					</div>
					<div>
						Monday, Wednesday, Friday 11:30am to 12:30pm in <a href="">Dinklespiel Auditorium</a>
					</div>
				</div>
        	</div>
        </div>

        <div class="row">
        	<div class="col-md-12">
	        	<hr/>
	        </div>
        </div>
        
        <div class="row">
			<div class="col-md-2">
				<!-- Links -->
				<div>
					<p class="subtleHeading">RESOURCES</p>

					<span class="sidebaricon glyphicon glyphicon-user" aria-hidden="true"></span>
					<a href="">Staff</a><br/>

					<img src="img/icons/qt-icon.png" class="sidebaricon" alt="icon">
					<a href="">QT Creator</a><br/>

					<img src="img/icons/piazza-icon.png" class="sidebaricon" alt="icon">
					<a href="">Piazza</a> <br/>

					
					<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
					<a href="">Text Book</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
					<a href="">Stanford C++</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
					<a href="">Past Quarters</a> <br/>

					<span class="sidebaricon glyphicon glyphicon-book" aria-hidden="true"></span>
					<a href="">Submitter</a> <br/>
				</div>

				<hr/>

				<!-- Handouts -->
				<div>
					<p class="subtleHeading">HANDOUTS</p>

					<a href="">1. Syllabus</a><br/>
					<a href="">2. Class Placement</a><br/>
					<a href="">3. Honor Code</a><br/>
				</div>

				<div style="height:10px"></div>
			</div>
			<div class="col-md-6" >
				<!-- Newsfeed -->
				<div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">Sign Up for Piazza</div>
							<div class="moment">20160104</div>
						</div>

						<p>
							This quarter CS106B is using Piazza to facilitate questions. Go to <a href="https://piazza.com/stanford/winter2016/cs106b/home">piazza.com/stanford/winter2016/cs106b/home</a> to sign up. You can ask questions to staff and see answers to other student questions. For personal questions please feel free to email Megan or Chris.
						</p>
						

					</div>

					<div class="well">
						<div class="newsfeedHeader">
							<div class="newsfeedTitle">First Day of Class</div>
							<div class="moment">20160101</div>
						</div>

						<p>
							Class starts Monday January 4th at 11:30am in Dinklespiel.
						<div class="google-maps">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.551949740855!2d-122.17207458509944!3d37.42406384003296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbad417d5a965%3A0xff6e238283d53800!2sDinkelspiel+Auditorium!5e0!3m2!1sen!2sus!4v1451848729217" width="567" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
					</p>

					</div>

				</div>
			</div>

			<div class="col-md-4" >
				
				<div class="well">
					<p class="subtleHeading">ASSIGNMENTS</p>
					<p>
						<i>None yet!</i>
					</p>
					<hr/>
					<p class="subtleHeading">STAFF</p>
					<p>
						<img src="img/people/chris.bmp" class="staffImg"></img><br/>
						Lecturer: Chris Piech <br/>
						Email: piech@cs.stanford.edu<br/>
						Office: Gates 193<br/>
						Drop-in Hours: Mon 1:30-2:30pm, Wed 2:30-4:00pm
					</p>
					<br/>

					<p>
						<img src="img/people/megan.jpg" class="staffImg"></img><br/>
						Head TA: Megan Faulk<br/>
						Email: mfaulk@cs.stanford.edu<br/>
						Office: Gates 160<br/>
						Office Hours: TBD
					</p>

				</div>

				
			</div>
		</div>

		%include templates/parts/footer.html

	</div>

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDD").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

</body>
