<head>

	%include templates/parts/head.html

</head>
<body>

	<!-- Navigation Bar -->
	%include templates/parts/navBar.html

	<div class="container">
			
		<!-- Header -->
		<div class="row">
			<div class="col-sm-12">
				<div id="pageHeader">
					<h1>
						Course Overview
					</h1>
					<p>
						Created by Chris Piech
					</p>
					

				</div>
				<hr/>

				<center>
				<img style="width:80%" src="{{pathToRoot}}img/overview/overview.png">	
			</center>
			</div>
		</div>

			

		<div class="row">
			<div class="col-sm-12">
				<p>
					In CS106B you are going to learn great things! The main objective of the course is to learn how to model and solve complex problems with computers.
				</p>

				<hr/>
			</div>
		</div>
		
		
				
		<div class="row">
			<div class="col-sm-12">
				<h2>
					Schedule
				</h2>
				<p>
					<table class="table table-hover">
						<thead>
							<tr>
								<th style="width:120px">Date</th>
								<th style="width:220px">Topic</th>
								<th style="width:180px">Files</th>
								<th style="width:200px">Reading</th>
								<th style="width:300px">Assignment</th>
							</tr>
						</thead>
						<tbody>
							<tr>

								<th colspan = "6"><b>
								<br/>[Using Abstractions]</b></th>
							</tr>

							<tr class="info">
								<td>Jan 4</td>
								<td>
									<a href="{{pathToRoot}}/lectures/0-Welcome/">Course Overview</a>
								</td>
								<td>
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pptx"><span class="glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									<!--<span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span>-->
									<a href="{{pathToRoot}}/lectures/0-Welcome/0-Welcome.pdf"><span class="overviewIcon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>
								</td>
								<td>Chapter 1</td>
								<td></td>
							</tr>
							<tr class="info">
								<td>Jan 6</td>
								<td>
									<a href="{{pathToRoot}}/lectures/1-Functions/">Functions</a>
								</td>
								<td>
									<a href="{{pathToRoot}}/lectures/1-Functions/1-Functions.pptx"><span class="glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									
									<a href="{{pathToRoot}}/lectures/1-Functions/1-Functions.pdf"><span class="overviewIcon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}/lectures/1-Functions/allCode.zip"><span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span></a>
								</td>
								<td>Chapter 2, 3</td>
								<td><a href="{{pathToRoot}}/assn/life.html">Life</a> (due Jan 15th)</td>
							</tr>

							<tr class="success">
								<td>Jan 8</td>
								<td><a href="{{pathToRoot}}/lectures/2-VectorsGrids/">Vectors and Grids</a></td>
								<td>
									<a href="{{pathToRoot}}/lectures/2-VectorsGrids/2-VectorsGrids.pptx"><span class="glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									
									<a href="{{pathToRoot}}/lectures/2-VectorsGrids/2-VectorsGrids.pdf"><span class="overviewIcon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}/lectures/2-VectorsGrids/allCode.zip"><span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span></a>
								</td>
								<td>Section 4.3, 5.1</td>
								<td></td>
							</tr>

							
							<tr class="table-bordered">
								<td>Jan 11</td>
								<td><a href="{{pathToRoot}}/lectures/3-StacksQueue/">Stacks and Queues</a></td>
								<td>
									<a href="{{pathToRoot}}/lectures/3-StacksQueue/3-StacksQueues.pptx"><span class="glyphicon glyphicon-blackboard" title="pptx" aria-hidden="true"></span></a>
									
									<a href="{{pathToRoot}}/lectures/3-StacksQueue/3-StacksQueues.pdf"><span class="overviewIcon glyphicon glyphicon-file" aria-hidden="true" title="pdf"></span></a>

									<a href="{{pathToRoot}}/lectures/3-StacksQueue/allCode.zip"><span class="overviewIcon glyphicon glyphicon-pencil" aria-hidden="true" title="code"></span></a>
								</td>
								<td>Section 5.2, 5.3</td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>Jan 13</td>
								<td>Maps and Sets</td>
								<td></td>
								<td>Chapter 5</td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>Jan 15</td>
								<td>The Stack Machine</td>
								<td></td>
								<td></td>
								<td>ADTs (due Jan 25th)</td>
							</tr>

							<tr class="table-bordered">
								<td>Jan 18</td>
								<td>No Class</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr>
								<th colspan = "6"><b>
								<br>
								[Recursion]</b></th>
							</tr>

							<tr class="table-bordered">
								<td>Jan 20</td>
								<td>Introduction to Recursion</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							

							<tr class="table-bordered">
								<td>Jan 22</td>
								<td>Recursive Procedures</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr  class="table-bordered">
								<td>Jan 25</td>
								<td>Recursive Backtracking</td>
								<td></td>
								<td></td>
								<td>Recursion (due	Feb 3rd)</td>
								
							</tr>
							<tr class="table-bordered">
								<td>Jan 27</td>
								<td>Memoization</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>Jan 29</td>
								<td>Fractals</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr>
								<th colspan = "6"><b>
								<br>
								[Under the Abstraction Hood]</b></th>
							</tr>
							<tr class="table-bordered">
								<td>Feb 1</td>
								<td>Pointers</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="table-bordered">
								<td>Feb 3</td>
								<td>Dynamic Allocation</td>
								<td></td>
								<td></td>
								<td>Boggle (due Feb 12)</td>
								
							</tr>
							<tr class="table-bordered">
								<td>Feb 5</td>
								<td>Big-O</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr class="table-bordered">
								<td>Feb 8</td>
								<td>Classes</td>
								<td></td>
								<td></td>
								<td>Midterm (Feb 9th)</td>
								
							</tr>

							

							<tr class="table-bordered">
								<td>Feb 10</td>
								<td>Inheritance</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>


							<tr class="table-bordered">
								<td>Feb 12</td>
								<td>Implementing Vector</td>
								<td></td>
								<td></td>
								<td>PQueue (due Feb 22nd)</td>
								
							</tr>

							<tr class="table-bordered">
								<td>Feb 15</td>
								<td>No Class</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>Feb 17</td>
								<td>Linked Lists</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>Feb 19</td>
								<td>Hashing</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr>
								<th colspan = "6"><b>
								<br>
								[Graphs]</b></th>
							</tr>

							<tr class="table-bordered">
								<td>Feb 22</td>
								<td>Trees</td>
								<td></td>
								<td></td>
								<td>Huffman (due March 2)</td>
								
							</tr>

							<tr class="table-bordered">
								<td>Feb 26</td>
								<td>Binary Search Trees</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							

							<tr class="table-bordered">
								<td>Feb 26</td>
								<td>DAGS</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>Feb 29</td>
								<td>Graphs</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>March 2</td>
								<td>Shortest Distance</td>
								<td></td>
								<td></td>
								<td>Trailblazer (due Mar 11)</td>

							</tr>

							<tr class="table-bordered">
								<td>March 4</td>
								<td>Mini Max</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr>
								<th colspan = "6"><b>
								<br>
								[End of Class]</b></th>
							</tr>

							<tr class="table-bordered">
								<td>Mar 7</td>
								<td>Advanced Algorithms</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>Mar 9</td>
								<td>Advanced C++</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>

							<tr class="table-bordered">
								<td>Mar 11</td>
								<td>Final Class</td>
								<td></td>
								<td></td>
								<td>Final Exam (March 14)</td>
							</tr>
							

						</tbody>
					</table>

				</p>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h2>
					Discussion Sections
				</h2>
				<p>
					In addition to lecture, you must sign up for a weekly 50-minute section. In order to take
CS 106B, you must sign up for a section between 5:00P.M., Thursday, January 7, and the
close of enrollments at 5:00P.M. on Sunday, January 10. Please use the signup form at
<a href="http://cs198.stanford.edu/section/">http://cs198.stanford.edu/section/</a>. Important note: Do not use Axess to sign
up for sections; section enrollments made through Axess are simply ignored.
				</p>
				<hr/>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h2>
					Grades
				</h2>
				<p>
					Your final grade in this course will be calculated using the following weights:
				</p>
				<div class="well" style="width:280px">
					<h4>Weights</h4>
					<table class="table table-condensed" style="margin-bottom:0px;">
						<tbody>
							<tr>
								<td style="width: 180px">Section Participation</td>
								<td>10%</td>
							</tr>
							<tr>
								<td style="width: 120px">Programs</td>
								<td>50%</td>
							</tr>
							<tr>
								<td style="width: 120px">Midterm</td>
								<td>15%</td>
							</tr>
							<tr>
								<td style="width: 120px">Final</td>
								<td>25%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p>
					
					Each of the exams is scaled to take account of the difficulty of the exam, which is nearly
impossible to assess in advance. The other components and the final grade are not
curved. If everyone does brilliantly in this class, everyone gets an A.
				</p>
				<hr/>
			</div>
		</div>

		

		<div class="row">
			<div class="col-sm-12">
				<h2>
					Programming Assignments
				</h2>
				<p>
					CS 106B requires seven programming assignments, which are due on the dates given in
the syllabus. Except for Assignment #7 (which is due at the very end of the quarter),
your section leader will grade each of your assignments and then discuss how well you
have done (and how you can improve on future assignments) in an interactive,
one-on-one session. Assignments are graded separately for functionality and style.
				</p>
				<hr/>
			</div>
		</div>
			
		<div class="row">
			<div class="col-sm-8">
			<h2>
				Late Policy
			</h2>
		</div>
			<div class="col-sm-9">
				

				<div class="subsection">
					
					<p>
						Each of the assignments is due at 5:00P.M. on the day specified in the syllabus.
Assignments are submitted electronically using the procedure described in the first
assignment. Important note: all assignments are due at 5:00P.M. sharp on the dates
indicated on the assignment handout. Assignments submitted after 5:00 will be
considered late.
					</p>
					<p>
						Because each of you will probably come upon some time during the quarter where so
much work piles up that you need a little extra time, every student begins the quarter with
three free “late days.” To avoid any ambiguity, a “day” is defined as a class day. Thus, if
your assignment was due on Friday but turned in the following Monday, that assignment
would be one day late. Note: You cannot use late days on Assignment #7, which is due at the end of the quarter. After your late days for the quarter are exhausted, programs are assessed a late
penalty of one category point per late day used (a ✓+ turns into a ✓, and so forth). Late
days are valuable, and it pays to keep some around for the harder assignments toward the
end of the quarter. In all cases, assignments must be turned in within a calendar week of
their published due date.
					</p>

					<p>
						In special circumstances (such as extended medical problems or other emergencies),
extensions may be granted beyond the late days. To request an extension, send e-mail to
the TA (Megan Faulk <mfaulk@stanford.edu>) no later than 24 hours before the
program is due. Only the TA is authorized to approve such extensions. In particular, do
not ask your section leader.
					</p>
				</div>

				

				

			</div>
			<div class="col-sm-3">
				
				<div class="faq well">
					<h4 class="subheading">How Many Late Days?</h4>
					<p>
						Three late days. A “day” is defined as a class day.
					</p>

				</div>

			</div>

		</div>


	

		%include templates/parts/footer.html

	</div>

	<script type="text/javascript">
		$( ".moment" ).each(function( i ) {
			var date = $(this).html()

			var fromStr = moment(date, "YYYYMMDD").fromNow()

			$(this).html(fromStr)
		  });
		//alert(moment("20160101", "YYYYMMDD").fromNow())
	</script>

</body>
