<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="{{pathToRoot}}">CS106B</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <!--<li><a href="#">Lectures</a></li>-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lectures <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}/lectures/0-Welcome/">0 Welcome</a></li>
            <li><a href="{{pathToRoot}}/lectures/1-Functions/">1 Functions</a></li>
            <li><a href="{{pathToRoot}}/lectures/2-VectorsGrids/">2 Vector and Grid</a></li>
            <li><a href="{{pathToRoot}}/lectures/3-StacksQueue/">3 Stack and Queue</a></li>
            <li><a href="{{pathToRoot}}/lectures/4-MapsSets/">4 Map and Set</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Handouts <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}/handouts/overview.html">Course Overview</a></li>
            <li><a href="{{pathToRoot}}/handouts/course-placement.pdf">Course Placement</a></li>
            <li><a href="{{pathToRoot}}/handouts/honor-code.pdf">Honor Code</a></li>
            <li><a href="{{pathToRoot}}/handouts/qt-creator.html">QT Creator</a></li>
            <li><a href="{{pathToRoot}}/handouts/velociraptorSafety.html">Grids and Raptor Safety</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Assignments <span class="caret"></span></a>
          <ul class="dropdown-menu">
           <li><a href="{{pathToRoot}}/assn/life.html">1 Life</a></li>
           <!--<li><a href=""><i>None yet!</i></a></li>-->

          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}/sections/section01.pdf">Section 01</a></li>

          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{pathToRoot}}/handouts/help.html">Help Hours Calendar</a></li>
           <li><a href="{{pathToRoot}}/handouts/diff.html">Example Diff Tool</a></li>
           <!--<li><a href=""><i>None yet!</i></a></li>-->

          </ul>
        </li>
       
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathToRoot}}/handouts/overview.html"><span class="glyphicon glyphicon-apple" aria-hidden="true"> Overview</span></a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>